:root { color-scheme: light dark; }
html,body{margin:0;padding:0}
body{
  -webkit-font-smoothing: antialiased;
  font: 14px/1.55 ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 16px;
}
main{max-width:72ch;margin:auto}
pre,code{font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace}
img,video{max-width:100%;height:auto}
a{text-decoration:underline}
